APP_ENV=development
PORT=3000
HOST_DATABASE=name_of_your_database_host
USER_DATABASE=username_of_your_database_user
PASSWORD_DATABASE=password_of_your_database_user
NAME_DATABASE=name_of_your_database
DB_PORT=port_of_your_database